/* Box Model and General Settings */
/* -------------------------------------------------------------------------- */
body {
    margin:         0;
    padding:        0;
}

#bg1 {
    position:   fixed;
    margin:         0;
    padding:        0;
    padding-bottom: 5em;
    width:          100vw;
    height:         100vh; 
    background-image:       url("../../images/bg.jpg");
    background-attachment:  fixed;
    background-size:        cover;
    background-position:    center;
    z-index: 1;
}

#bg2 {
    position:   fixed;
    width:      100vw;
    height:     100vh; 
    z-index:    2;
    opacity:    1;
    background-color: #1b1f22;
    -webkit-transition: opacity 1s ease-in-out;
    transition:         opacity 1s ease-in-out;
}

#wrapper {
    width:          calc(100vw-6em);
    margin-bottom:  3em;
    padding-bottom: 3em;
}

div.content {
    /* Position and size */
    position:   relative;
    top:        3em;
    width:      50%;
    z-index:    99;
    /* Visibility */
    visibility: hidden;
    opacity:    0;
    /* Coloring */
    background-color:  #1b1f22;
    color:             #ffffff; /*#D4D4D4*/
    /* Font */
    font-family:    Calibri, 'Helvetica', sans-serif;
    font-size:      large;
    line-height:    1.5;
    text-align:     left;
    /* Box Model */
    margin:         auto;
    padding:        2em;
    padding-top:    3em;
    border-radius:  0.5em;
    box-shadow:     0 0 1em 0em #000000;
    /* Transition */
    -webkit-transition: visibility 0s, opacity 0.325s linear;
    transition:         visibility 0s, opacity 0.325s linear;
}




/* Styling general Elements */
/* -------------------------------------------------------------------------- */

h2, h3 {
    padding-top: 0.5em;
    margin-bottom: -0.5em;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em
}

a {
    color: #BB86FC;
}

ul, ol {
    padding-left: 1em;
}

.flul {
    padding-left: 1.5em;
}

/* Tables */
table.mdtbl {
    border-collapse: collapse;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     0.5em;
    margin-bottom:  0.5em;
    width: 75%;
    box-shadow: 0 0 0.5em 0em #000000;
}

table.mdtbl td {
    width: 50%;
    padding: 0.5em;
    line-height: 1em;
    background-color: #2e3236;
    border-bottom: 0.05em solid white;
}

table.mdtbl tr:first-child td {
    background-color: #90fff4;
    color: #000000;
    font-weight: bold;
    border: none;
}

table.mdtbl tr:last-child td {
    border: none;
}

table.mdtbl tr:first-child td:first-child {border-top-left-radius: 0.3em;}
table.mdtbl tr:first-child td:last-child  {border-top-right-radius: 0.3em;}

table.mdtbl tr:last-child td:first-child {border-bottom-left-radius: 0.3em;}
table.mdtbl tr:last-child td:last-child  {border-bottom-right-radius: 0.3em;}







/* Responsive and interactive Elements */
/* -------------------------------------------------------------------------- */

div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 100%;    
    border-radius: 0.5em;
    transition: background-color 0.325s, color 0.325s, margin-top 0.325s;
}

span.tip {
    color: #03DAC6;
}
.tip span {
    display:    none; 
    position:   absolute; 
    padding:    5px; 
    border-radius: 0.5em;
}
span.tip span {   
    background: #90fff4; 
    color:      #000000;
}
a.tip span {
    background: #c79aff; 
    color:      #000000; 
}
.tip {
    position: relative;
}
.tip:hover span {
    display:    flex;
    text-align: center; 
    z-index:    99;
}


@media screen and (max-width: 1000px) {
    div.background {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    div.content {
        width: 80%;
        font-size: smaller;
        /* margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em; */
    }

    table {
        font-size: smaller;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {

    div.content {
        width: 75%;
    }
}