/* Colors */
/* -------------------------------------------------------------------------- */
/* 
Primary Background: #1b1f22
Scroll and Table Background: #2e3236
Links: #BB86FC
Links Background: #c79aff
Toolbox and Annotations: #03DAC6
Toolbox and Annotations Background: #90fff4
Cross Refs: #
*/




/* Box Model and General Settings */
/* -------------------------------------------------------------------------- */
body {
    margin:         0;
    padding:        0;
}

#bg1 {
    position:   fixed;
    margin:         0;
    padding:        0;
    padding-bottom: 5em;
    width:          100vw;
    height:         100vh; 
    background-image:       url("../../images/bg.jpg");
    background-attachment:  fixed;
    background-size:        cover;
    background-position:    center;
    z-index: 1;
}

#bg2 {
    position:   fixed;
    width:      100vw;
    height:     100vh; 
    z-index:    2;
    opacity:    0; 
    background-color: #1b1f22;
    transition:         opacity 1s ease-in-out;
}

#wrapper {
    width:          calc(100vw-6em);
    margin-bottom:  3em;
    padding-bottom: 3em;
}

div.content {
    /* Position and size */
    position:   relative;
    top:        3em;
    width:      50%;
    z-index:    99;
    /* Visibility */
    visibility: hidden;
    opacity:    0;
    /* Coloring */
    background-color:  #1b1f22;
    color:             #ffffff; /*#D4D4D4*/
    /* Font */
    font-family:    Calibri, 'Helvetica', sans-serif;
    font-size:      large;
    line-height:    1.5;
    text-align:     left;
    /* Box Model */
    margin:         auto;
    padding:        2em;
    padding-top:    3em;
    border-radius:  0.5em;
    box-shadow:     0 0 1em 0em #000000;
    /* Transition */
    -webkit-transition: visibility 0s, opacity 0.325s linear;
    transition:         visibility 0s, opacity 0.325s linear;
}

div.imgContainer {
    width: 100%; 
    text-align: center; 
    padding-bottom: 0.5em
}

img.light {
    box-shadow: 0 0 0.5em 0em black;
    background-color: white;
    border-radius: 0.5em;
}



/* Styling general Elements */
/* -------------------------------------------------------------------------- */

h1 {
    text-align: center;
    display: block;
    border-bottom: 1px solid white;
    box-shadow: 0 0.5em 0.5em -0.5em black;
    letter-spacing: 0.1em;
}

h2 {
    text-align: center;
    display: block;
    margin: 1em;
    margin-top: 2em;
    border-bottom: 1px solid white;
    box-shadow: 0 0.5em 0.5em -0.5em black;
    letter-spacing: 0.1em;
}

h3 {
    text-align: center;
    display: block;
    padding-top: 0.5em;
    margin-bottom: -0.5em;
    border-bottom: 1px solid white;
    margin-left: 3em;
    margin-right: 3em;
    letter-spacing: 0.1em;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em
}

a {
    -moz-transition:    color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition:     color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition:         color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px #ffa5a5; /*rgba(255, 255, 255, 0.5)*/
    text-decoration: none;
    color: #ffa5a5;
}

a:hover {
    border-bottom-color: transparent;
}

ul, ol {
    padding-left: 1em;
}

.flul {
    padding-left: 1.5em;
}

/* Cross References */
/* Mathjax inherits the general hyperlink settings for \eqref and it is crazy how to change it in MathJax > 3. Therefore I use simply a class for every other link... */
a.link {
    color: #e0c7ff;
    border-bottom: dotted 1px #e0c7ff;
}

a.link:hover {
    border-bottom-color: transparent;
}


/* Tables */
/* -------------------------------------------------------------------------- */

/* Toolbox */
table.toolbox {
    border-collapse: collapse;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     1em;
    margin-bottom:  1em;
    width: 75%;
    box-shadow: 0 0 0.5em 0em #000000;
}

table.toolbox td {
    width: 50%;
    padding: 0.5em;
    line-height: 1.15em;
    background-color: #2e3236;
    border-bottom: 0.05rem solid white;
}

table.toolbox tr:first-child td {
    background-color: #e0c7ff; /* #90fff4; */
    color: #000000;
    font-weight: bold;
    border: none;
}

table.toolbox tr:last-child td {
    border: none;
}

table.toolbox tr:first-child td:first-child {border-top-left-radius: 0.3em;}
table.toolbox tr:first-child td:last-child  {border-top-right-radius: 0.3em;}

table.toolbox tr:last-child td:first-child {border-bottom-left-radius: 0.3em;}
table.toolbox tr:last-child td:last-child  {border-bottom-right-radius: 0.3em;}


/* Plain */
table.plain {
    border-collapse: collapse;
    margin-left:    auto;
    margin-right:   auto;
    margin-top:     0.5em;
    margin-bottom:  0.5em;
    width: 33%;
}

table.plain td {
    padding: 0.5em;
    line-height: 1.15em;
    border-bottom: 0.05rem solid white;
    text-align: right;
}

table.plain > tr:first-child td {
    width: 20%;
}

table.plain > tr:not(:first-child) td {
    width: 40%;
}





/* Responsive and interactive Elements */
/* -------------------------------------------------------------------------- */

div.scroll {
    margin: 0.5em, 0.5em;
    padding: 0.5em;
    width: calc(100%-1em);    
    border-radius: 0.5em;
    transition: background-color 0.325s, color 0.325s, margin-top 0.325s;
    /* display: inline-block; */
}

span.tip {
    color: #e0c7ff; /* #8afff3;*/
    font-style: italic;
}
.tip span {
    display:    none; 
    position:   absolute; 
    padding:    5px; 
    border-radius: 0.5em;
}
span.tip span {   
    background: #e0c7ff; /* #90fff4; */
    color:      #000000;
    box-shadow: 0 0 0.5em 0em #000000;
}
a.tip span {
    background: #d8b7ff; 
    color:      #000000; 
    box-shadow: 0 0 0.5em 0em #000000;
}
.tip {
    position: relative;
}
.tip:hover span {
    display:    flex;
    text-align: center; 
    z-index:    99;
}

/* ul li b {
    color: #ff4444;
} */


@media screen and (max-width: 1000px) {
    div.background {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    div.content {
        width: 80%;
        font-size: smaller;
        /* margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em; */
    }

    table {
        font-size: smaller;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {

    div.content {
        width: 75%;
    }
}